body {
   background-image: url(https://media.istockphoto.com/vectors/abstract-technology-background-with-dots-and-lines-connection-data-vector-id1075835580?b=1&k=6&m=1075835580&s=170667a&w=0&h=gi-t_HKeReW8LletQmzoJA2P2YtaI-ll-o5yVEI4vec=);
   background-size: cover;
   background-repeat: no-repeat;
}
img {
    float: left;
    border-radius: 20%;
    padding-left: 5px;
}
body h4{
    font-family: cursive;
    text-transform: uppercase;
}
body h1{
    font-family: cursive;
    text-transform: uppercase;
}
